body{
    background-color: white;
}



h4{

    background-color: #f8f8f8;
    color:#6b8e23;
    display: block;
    text-align: center;
    font-size: larger;
}
h2{
    background-color: #f8f8f8;
    color:#6b8e23;
    text-transform: uppercase;
 

}
a{
    color: #6b8e23;
}
.para{
    background-color:lightgoldenrodyellow
}